<section id="contactme" class="min-h-screen bg-[#666F5C] px-100">
  <h2 class="mb-20 text-center text-5xl underline">Contanct me</h2>
  <form method="POST">
    <textarea
      name="message"
      rows="5"
      cols="40"
      placeholder="Your message..."
      class="w-full rounded border border-gray-300 p-2 focus:ring-2 focus:ring-[#666F5C] focus:outline-none"
      required></textarea>
    <button
      type="submit"
      class="mt-4 rounded bg-[#4B6043] px-6 py-2 text-white transition-colors hover:bg-[#3a4933]"
      >Submit</button
    >
  </form>
</section>
