---
import Button from "./atoms/Button.astro";
---

<section
  id="hero"
  class="flex h-screen flex-col items-center justify-center bg-[#666F5C] px-4 md:px-12 lg:px-24"
>
  <div class="flex h-7/12 items-end">
    <div
      class="flex h-[250px] w-[250px] items-center justify-center rounded-full border-4"
    >
      <h2 class="text-6xl font-bold">JC</h2>
    </div>
  </div>
  <div class="flex h-3/12 flex-col justify-center gap-3 text-center">
    <h1 class="text-2xl">Hi!, I'm Jose Calancha</h1>
    <h1 class="text-6xl">BACKEND DEVELOPER</h1>
  </div>
  <div class="flex h-2/12 flex-row items-start justify-center gap-5">
    <Button name="Download CV" href="/CV_EN.pdf" />
    <Button name="Contact me" href="mailto:jcalanchapacheco@gmail.com" />
  </div>
</section>
