---
import Button from "./atoms/Button.astro";
---

<section
  id="hero"
  class="flex h-screen flex-col items-center justify-center bg-[#666F5C]"
>
  <div class="flex h-7/12 items-end">
    <div class="h-[250px] w-[250px] rounded-full border-4"></div>
  </div>
  <div class="flex h-3/12 flex-col justify-center gap-3 text-center">
    <h1 class="text-2xl">Hi!, I'm Jose Calancha</h1>
    <h1 class="text-6xl">BACKEND DEVELOPER</h1>
  </div>
  <div class="flex h-2/12 flex-row items-start justify-center">
    <Button name="Download CV" />
    <Button name="Contact me" />
  </div>
</section>
