<section id="softskills" class="min-h-screen bg-[#666F5C] px-100">
  <h2 class="mb-10 text-center text-5xl underline">Soft Skills</h2>
  <div class="flex flex-wrap">
    <div class="w-1/2 pr-5 pb-5">
      <div class="h-full bg-[#4B3C42] p-15 text-[#EAC8B1]">
        <h3 class="text-2xl font-semibold">Problem Solving</h3>
        <p class="mt-10">
          I have a strong ability to break down complex technical challenges,
          identify root causes, and implement effective, scalable solutions. For
          example, in my attendance system project, I designed a distributed
          messaging architecture using RabbitMQ to handle real-time data from
          multiple sources reliably.
        </p>
      </div>
    </div>
    <div class="w-1/2 pl-5 pb-5">
      <div class="h-full bg-[#BB9583] p-15">
        <h3 class="text-2xl font-semibold">Communication</h3>
        <p class="mt-10">
          I prioritize clear and structured communication, both in documentation
          and when collaborating with team members or stakeholders. I'm skilled
          at translating technical concepts into understandable terms, which has
          been especially useful during team planning, debugging sessions, and
          client presentations.
        </p>
      </div>
    </div>
    <div class="w-1/2 pr-5 pt-5">
      <div class="h-full bg-[#BB9583] p-15">
        <h3 class="text-2xl font-semibold">Team Collaboration</h3>
        <p class="mt-10">
          I thrive in collaborative environments where knowledge-sharing and
          teamwork are key. I’ve worked closely with developers, testers, and
          project managers to align goals, define technical scopes, and deliver
          production-ready systems on time.
        </p>
      </div>
    </div>
    <div class="w-1/2 pl-5 pt-5">
      <div class="h-full bg-[#4B3C42] p-15 text-[#EAC9B1]">
        <h3 class="text-2xl font-semibold">Adaptability</h3>
        <p class="mt-10">
          I'm highly adaptable to changing project needs, new technologies, and
          fast-paced environments. Whether it’s integrating a new tool, shifting
          architectures, or responding to unexpected issues in production, I
          remain flexible and focused on delivering quality solutions.
        </p>
      </div>
    </div>
  </div>
</section>
