---
interface Props {
  place: string;
  targetId: string;
}

const { place, targetId } = Astro.props;
---

<div
  class="my-4 flex h-[50px] w-full cursor-pointer flex-row items-center px-10"
  onclick={`document.getElementById('${targetId}')?.scrollIntoView({ behavior: 'smooth' })`}
>
  <h3 class="text-xl">{place}</h3>
</div>
