---
import "../styles/global.css";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../layouts/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><rect width="100%25" height="100%25" fill="white"/><text x="50%25" y="60%25" text-anchor="middle" dominant-baseline="middle" font-size="38" font-family="Arial" fill="black">JC</text></svg>'
    />
    <meta
      name="description"
      content="Portfolio of Jose Calancha - Web Developer, DevOps, and more."
    />
    <title>JC Portfolio</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
