<nav
  class="fixed top-0 left-0 z-50 flex w-full flex-row justify-between bg-[#666F5C] py-4 shadow-md"
>
  <a href="#hero" class="ml-8 text-2xl font-bold transition">
    <h2 class="text-2xl">CJ</h2>
  </a>
  <ul class="flex justify-end gap-10 pr-8">
    <li>
      <a href="#experience" class="text-lg transition hover:underline"
        >Experience</a
      >
    </li>
    <li>
      <a href="#projects" class="text-lg transition hover:underline">Projects</a
      >
    </li>
    <li>
      <a href="#softskills" class="text-lg transition hover:underline"
        >Soft Skills</a
      >
    </li>
    <li>
      <a
        href="mailto:josecalancha@gmail.com"
        class="text-lg transition hover:underline">Contact Me</a
      >
    </li>
  </ul>
</nav>
